@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Halant Regular";
  src: url("./fonts/Halant/Halant-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Halant Medium";
  src: url("./fonts/Halant/Halant-Medium.ttf") format("truetype");
}