a {
  @include transition;
  text-decoration: none !important;
}
.bg-header {
  background-color: lightslategray;
}
.intro {
  background-color: #000;
}
.site-header {
  margin-bottom: 10rem;
  padding: 2rem 0;
}
#header-menu {
  li {
    display: inline-block;
  }
}
#button-menu {
  display: none;
  background-color: transparent;
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-size: 1.25rem;
  color: $white;
  &:hover {
    color: $brown-custom;
    cursor: pointer;
  }
}
.navbar-nav li{
  margin: 0 10px;
  a {
    @include transition;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: $Montserrat;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: #f6961b;
    }
  }
}
.email-header-btn {
  display: block;
  width: 33px;
  height: 33px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  color: $white;
  background-color: #03b6e7;
  &:hover {
    color: $white;
    background-color: $brown-custom;
  }
}
.contacts {
  .phone-header {
    margin-right: 10px;
    margin-bottom: 0;
    color: $white;
    line-height: 33px;
    .fa-phone {
      color: $linkedin-color;
      margin-right: 5px;
    }
  }

}