//Intro section
.choose {
  .intro-subtitle, .intro-title {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-family: $Montserrat;
    font-weight: bold;
  }
  .intro-subtitle {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .intro-title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
.choose-industry-slider {
  .industry-link {
    @include transition;
    display: block;
    height: 17.5rem;
    text-decoration: none;
    background-color: $blue;
    margin: 0 15px;
    &:hover {
      background-color: $brown-custom;
    }
    .industry-icon {
      height: 60px;
      margin-bottom: 20px;
    }
    .industry-title {
      font-size: 1.2rem;
      font-family: $Montserrat;
      font-weight: bold;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }
  .slick-dots {
    position: static;
    padding-bottom: 3.5rem;
  }
  .slick-list {
    margin-bottom: 5rem;
  }
  .slick-dots li.slick-active button:before {
    content: url(img/dot-active.png);
  }
  .slick-dots li button:before {
    content: url(img/dot.png);
    opacity: 1;
  }
}
//Intro section end

//About section
  .about {
    text-align: center;
  }
  .title-section {
    padding-top: 6rem;
    margin-bottom: 2.5rem;
    font-family: $Montserrat;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
  }
  .about-text {
    font-family: $Domine;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: $gray-custom;
  }
  .button-to-page {
    display: inline-block;
    font-family: $Montserrat;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 4rem;
  }
  .green {
    background-color: $green-button;
    &:hover {
      background-color: $green-button-hover;
      color: $white;
    }
  }
  .clients-logo-slider {
    padding-top: 3rem;
    margin-bottom: 3rem;
    border-top: 1px solid #e7eff1 ;
    .slick-prev:before {
      content: url(img/arrow-left-active.png);
    }
    .slick-next:before {
      content: url(img/arrow-right-active.png);
    }
    .slick-prev, .slick-next {
      transform: none;
    }
  }
  .client-logo {
    display: block;
  }
//About section end

//Features section
  .features {
    text-align: center;
    background-color: $features-blog-color;
  }
  .margin-bottom {
    margin-bottom: 3rem;
  }
  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
  .margin-left {
    margin-left: 25px;
  }
  .margin-right {
    margin-right: 25px;
  }
  .img-feature {
    max-width: 100%;
    height: 50%;
  }
  .feature-title {
    font-family: $Montserrat;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .feature-text {
    font-family: $Domine;
    font-size: 0.9rem;
    color: $gray-custom;
  }
  .contact-block {
    padding: 1rem 2rem;
    background-color: $contact-block-color;
    .contact-title {
      font-family: $Domine;
      font-size: 1.2rem;
      color: $white;
      vertical-align: middle;
      line-height: 40px;
      margin-bottom: 0;

    }
    .contact-button {
      @include transition;
      border: none;
      border-radius: 20px;
      font-family: $Montserrat;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 2rem;
      cursor: pointer;
      color: $white;
    }
  }
//Features section end

//Projects section
  .projects {
    text-align: center;
  }
  .projects-post {
    margin-bottom: 4rem;
  }
  .project-post-link {
    .project-info {
      @include transition;
      padding: 1.5rem;
      text-align: left;
      height: 12rem;
      h3 {
        font-family: $Montserrat;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.6rem;
        color: $black;
      }
      p {
        font-family: $Domine;
        font-size: 1rem;
        margin-bottom: 1rem;
        color: $gray-custom;
      }
    }
    &:hover .project-info {
      background-color: $brown-custom;
      h3 {
        color: $white;
      }
      p {
        color: $white;
      }
    }
  }
  .projects-post {
    border: 1px solid $border-contacts;
    .project-img {
      position: relative;
      height: 18rem;
      overflow: hidden;
      text-align: center;
      .slick-dots {
        position: absolute;
        bottom: 15px;
        right: 25px;
        display: block;
        width: inherit;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
      }
      .category-project {
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        z-index: 1;
        border: 2px solid $brown-custom;
        border-radius: 20px;
        font-family: $Montserrat;
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        padding: 0.31rem 0.625rem;
      }
      .project-img-slider {
        .slick-dots li.slick-active button:before {
          content: url(img/dot-active.png);
        }
        .slick-dots li button:before {
          content: url(img/dot.png);
          opacity: 1;
        }
      }
    }
  }
//Projects section end

//Services
  .services {
    text-align: center;
    background-color: $services-bg;
    .service-icon, .service-title, .service-text {
      text-align: left;
    }
    .service-icon {
      margin-bottom: 1.5rem;
    }
    .service-title {
      font-family: $Montserrat;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .service-text {
      font-family: $Domine;
      font-size: 1rem;
      margin-bottom: 1rem;
      color: $gray-custom;
    }
  }
//Services end

//Testimonials
  .testimonials {
    position: relative;
    text-align: center;
    background-color: $blue;
    padding-bottom: 2rem;
    &:before {
      position: absolute;
      width: 166px;
      height: 131px;
      left: 10%;
      content: "";
      background: url("img/quote.png") ;
    }
    .title-section {
      color: $white;
    }
    .client-photo {
      width: 70px;
      height: 70px;
      margin: 0 auto 30px auto;
      border-radius: 50%;
      overflow: hidden;
      background-color: $white;
    }
    .client-testimonial {
      position: relative;
      font-family: $Domine;
      font-size: 1rem;
      color: $features-blog-color;
      margin-bottom: 40px;
      &:after {
        position: absolute;
        width: 30px;
        height: 21px;
        bottom: -15px;
        left: 94%;
        content: "";
        background: url("img/quote-white.png") ;
      }
    }
    .client-name {
      position: relative;
      font-family: $Montserrat;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
      &:before {
        position: absolute;
        width: 25px;
        height: 1px;
        left: 48%;
        top: -17px;
        border: 1px solid $white;
        content: "";
        color: $white;
      }
    }
    .designation {
      font-family: $Domine;
      font-size: 1rem;
      color: $features-blog-color;
      margin-bottom: 40px;
    }
  }
//Testimonials end

// Our blog
  .blog {
    text-align: center;
    background-color: $features-blog-color;
    .posts-container {
      margin-bottom: 4rem;
    }
    .blog-post {
      @include transition;
      padding: 0;
      border-top: 2px solid $brown-custom;
      background-color: $white;
      &:hover {
        border-top: 2px solid $green-button;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
      }
      .post-info {
        padding: 20px;
        li {
          text-align: left;
        }
        .post-date {
          font-family: $Domine;
          font-size: 1rem;
          margin-bottom: 1rem;
          color: $black;
        }
        .post-title {
          font-family: $Montserrat;
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 1rem;
          color: $black;
        }
        .post-excerpt {
          font-family: $Domine;
          font-size: 1rem;
          color: $gray-custom;
        }
      }
    }
  }
// Our blog end

//Quick contact
  .quick-contacts {
    text-align: center;
    .contact-card {
      border: 1px solid $border-contacts;
      padding: 2rem 0.5rem;
      height: 100%;
    }
    .quick-icon {
      padding-right: 1rem;
    }
    .quick-title {
      font-family: $Montserrat;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    .quick-contact {
      font-family: $Domine;
      font-size: 1rem;
      font-weight: bold;
    }
  }
//Quick contact end