//**********************************
// MIN-WIDTH: 1201px
//**********************************
@media (min-width: 1201px) {

}

//**********************************
// MAX-WIDTH: 992px
//**********************************
@media (max-width: 991px) {
  #button-menu {
    display: block !important;
  }

  .navbar-nav {
    margin-top: 10px;
    li {
      text-align: center;
      margin: 0 0 20px 0;
    }
  }
}
//**********************************
// MIN-WIDTH: 992px
//**********************************
@media (min-width: 992px) {
  #button-menu {
    display: none !important;
  }
}
//**********************************
// MAX-WIDTH: 768px
//**********************************
@media (max-width: 768px) {


}
//**********************************
// MAX-WIDTH: 576px
//**********************************
@media (max-width: 576px) {


}