//FONTS
$Montserrat: "Montserrat", Arial, sans-serif;
$Domine: "Domine", Arial, sans-serif;

//COLORS
$white: #fff;
$black: #000;
$brown-custom: #f6961b;
$gray-custom: #838b8c;
$green-button: #16d428;
$green-button-hover: #1bb52a;
$blue: #03b6e7;
$features-blog-color: #e7eff1;
$contact-block-color: #565d5d;
$services-bg: #fffaf3;
$border-contacts: #e1eaec;
$footer-color: #262829;
$footer-line-color: #323334;
$facebook-color: #334f84;
$twitter-color: #00b5da;
$instagram-color: #d4c5a8;
$linkedin-color: #1c6b94;
$gplus-color: #e4463b ;
